#*****************************************
# SITE & RELEASE DATA COLLECTION
# Save file as /srv/pillar/site.j2
# this is jinja not yaml!!
# Reference values
#*****************************************
{%- set sitedata = {} %}
{%- do sitedata.update( {

      'deploy_project': 'all',
      'auth_strategy': 'noauth',

      'dock_type': 'provisioner',
      'nbp_plugin_type': 'controller_only',
      'fusionstorage_fmip': '192.168.0.200',
      'fusionstorage_fsaip': ['192.168.0.4', '192.168.0.5', '192.168.0.6',],
      'drbd_host_0_name': 'rckdeba',
      'drbd_host_0_ipv4': '10.43.70.115',
      'drbd_host_1_name': 'rckdebb',
      'drbd_host_1_ipv4': '10.43.70.116',

      'host_ipv6': '::1/128',
      'host_ipv4': '127.0.0.1',
      'tgtBindIp': '127.0.0.1',
      'db_host'  : '127.0.0.1',
      'dns_host1': '8.8.8.8',
      'dns_host2': '64.6.64.6',
      'ipdomain': 'example.com',
      'timezone': 'America/Denver',

      'enabled_backends': 'lvm, cinder, ceph, nfs, netapp_ontap_san',
      'lvm_poolname': 'soda-volumes',
      'ceph_poolname': 'ceph-volumes',
      'cinder_poolname': 'cinder-volumes',
      'dorado_poolname': 'dorado-volumes',
      'fusionstorage_poolname': 'fusionstorage-volumes',

      'api_release': 'v1.0.0',
      'api_hashsum': 'd30831e929da6d615a94b1f2d2182bcbb31c92c840eea60325d51e5c9650777',
      'api_uri': 'https://github.com/sodafoundation/nbp/releases/download',

      'controller_release': 'v1.0.0',
      'controller_service': 'soda',
      'controller_hashsum': '5c4e8c16e52fbc994bb1559eec418c482b528d7a2cdd884fad1500a9018da5e6',
      'controller_uri': 'https://github.com/sodafoundation/controller/releases/download',

      'dashboard_release': 'v1.1.0',
      'dashboard_hashsum': 'a5e60268917c784f82f91d0167ff1609c63608d3ca29e920a44259db58771bf7',
      'dashboard_uri': 'https://github.com/sodafoundation/nbp/releases/download',

      'delfin_release': 'v1.0.0',
      'delfin_hashsum': '8e1025683160340f41024bd1b47d2d6d619f3c41f16e590ec81eebaf04efd485',
      'delfin_uri': 'https://github.com/sodafoundation/nbp/releases/download',

      'dock_release': 'v1.0.0',
      'dock_hashsum': '30b67a9d754165cf1a5a62e830496958928c96d789ffe61aa0d729e32a43de34',
      'dock_uri': 'https://github.com/sodafoundation/nbp/releases/download',

      'multicloud_release': 'v1.0.0',
      'multicloud_service': 'multicloud',
      'multicloud_hashsum': '94052dd34a83bfc624a1d3975621606a0f91b0d79f77b5442a743350b77ec79d',
      'multicloud_uri': 'https://github.com/sodafoundation/multi-cloud/releases/download',

      'nbp_release': 'v1.1.0',
      'nbp_hashsum': '27ab1069272749d9ead9680cd82feb44f2549b182fdd510de042e5519c8a50c7',
      'nbp_uri': 'https://github.com/sodafoundation/nbp/releases/download',

      'orchestration_release': 'v0.12.0',
      'orchestration_hashsum': '403cb8ccf18e1578b3a2ecf291f056e868a583fd747c073bafa700237e7db267',
      'orchestration_uri': 'https://github.com/sodafoundation/nbp/releases/download',

      'cinder_release': '16.2.0',
      'cinder_hashsum': 'a92a63db8da9301f6d53d7cbd0a485895e2a367fdb2e2ee75278963c0e3e41c9',
      'cinder_url': 'https://github.com/openstack/cinder/archive/16.2.0.tar.gz',

      'container_controller_img': 'sodafoundation/controller',
      'container_dock_img': 'sodafoundation/dock',
      'container_dashboard_img': 'sodafoundation/dashboard',
      'container_etcd_img': 'quay.io/coreos/etcd',
      'container_cinder_img': 'openstack/cinder-blockbox',

      'controller_version': 'latest',
      'dock_version': 'latest',
      'dashboard_version': 'latest',
      'etcd_version': 'latest',
      'cinder_version': 'stable/victoria',

      'devstack_enabled_services': 'mysql,key',
      'devstack_password': 'soda@123',
      'project_domain_name': 'Default',
      'project_name': 'service',
      'user_domain_name': 'Default',

      'devstack_path': '/opt/soda-linux-amd64-devstack',
      'controller_path': '/opt/soda-linux-amd64',
      'devstack_path': '/opt/soda-linux-amd64-devstack',
      'multicloud_path': '/opt/soda-multicloud-linux-amd64',
      'nbp_path': '/opt/soda-nbp-linux-amd64',
      'go_prefix': '/usr/local',
      'go_root': '/usr/local/go',
      'go_path': '/usr/local/golang/packages',

      'port_api': '8190',
      'port_controller': '50040',
      'port_dock': '50050',
      'port_csi': '50051',
      'port_multicloud': '8089',
      'port_mysql': '3306',
      'port_nginx': '8088',
      'port_auth1': '2379',
      'port_auth2': '2380',

}) %}
